[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL
disable_log_bin
log-error=/var/log/mysqld.log

character_set_server=utf8mb4
collation-server=utf8mb4_bin
default-authentication-plugin=mysql_native_password

sql_mode = 0

[mysql]
default-character-set=utf8mb4